html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: 0 100px;
    padding-bottom: 100px;
}

body {
    height: fit-content;
}

.container-Buttons {
    margin-top: 1rem;
}

.container-Buttons button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.dowArrow {
    position: fixed;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.space {
    flex: 1 1 auto;
}