html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: 0 100px;
    padding-bottom: 100px;
}

body {
    height: fit-content;
}

.container-Buttons {
    margin-top: 1rem;
}

.container-Buttons button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.dowArrow {
    position: fixed;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.space {
    flex: 1 1 auto;
}

.walkever-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.walkever-box-container{
    border: groove;
    box-shadow: 10px 10px 8px #888888;
    padding: 20px;
}

.walkever-expansion-container{
    margin-top: 5px;
    margin-bottom: 5px;
}