<mat-toolbar class="matToolBar">
    <span>
        <a mat-button routerLink="">
            <mat-icon>home</mat-icon>
            {{'home' | translate}}
        </a>
    </span>

    <div>
        <a mat-button routerLink="{{[urlStrings.urlAboutMe]}}">
            <mat-icon>person</mat-icon>
            {{'aboutMe' | translate}}
        </a>
    </div>

    <div>
        <a mat-button routerLink="{{[urlStrings.urlExperience]}}">
            <mat-icon>business_center</mat-icon>
            {{'experience' | translate}}
        </a>
    </div>

    <div class="space"> </div>
    <app-authorization rol="{{userRole.isAdmin}}">
        <div authorized>
            <a mat-button routerLink="{{[urlStrings.urlShowTranslateStrings]}}">
                <mat-icon>menu_book</mat-icon>
                {{'showStrings' | translate}}
            </a>
        </div>
    </app-authorization>
    <app-authorization>
        <ng-container authorized>
            <a mat-button routerLink="{{[urlStrings.urlControlPanel]}}">
                <mat-icon>accessibility</mat-icon>
                {{"authorization.welcome" | translate}}, {{securityService.getJWTField('username')}}
            </a>
            <a mat-button (click)="securityService.logout()">{{"authorization.logout" | translate}}
                <mat-icon>logout</mat-icon>
            </a>
        </ng-container>
        <ng-container noAuthorized>
            <a mat-button routerLink="{{[urlStrings.urlLogin]}}">
                <mat-icon>login</mat-icon>
                {{'authorization.login' | translate}}
            </a>
        </ng-container>
    </app-authorization>
</mat-toolbar>