<!-- <footer> -->
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-grid-list [cols]="3" rowHeight="150px">
    <mat-grid-tile>
        <div class="copyrights-container">
            <p>
                <img src="favicon.ico" />
                {{'copyrights' | translate}}
            </p>
            <a mat-button routerLink="{{[urlStrings.urlContactMe]}}">
                <mat-icon>person</mat-icon>
                {{'contactMe' | translate}}
            </a>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-container">
            <p>{{'myNetworks' | translate}}</p>

            <button mat-fab (click)="goToUrl('https://www.instagram.com/walkever/')">
                <img class="icon-img-container" src="social-media-icon/instagram.png">
            </button>

            <button mat-fab (click)="goToUrl('https://bsky.app/profile/walkever.bsky.social')">
                <img class="icon-img-container" src="social-media-icon/bluesky.png">
            </button>

            <button mat-fab (click)="goToUrl('https://www.linkedin.com/in/alejandro-rodriguez-navarro92/')">
                <img class="icon-img-container" src="social-media-icon/linkedin.png">
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>

        <div class="lenguage-Buttons">
            <ng-container>
                <button mat-raised-button (click)="translateText('es')">
                    <mat-icon>
                        <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/MX.svg" />
                    </mat-icon>
                    {{'changeLanguage.es' | translate}}
                </button>

                <button mat-raised-button (click)="translateText('en')">
                    <mat-icon>
                        <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg" />
                    </mat-icon>
                    {{'changeLanguage.en' | translate}}
                </button>
            </ng-container>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<!-- </footer> -->