<div>
    <h2>{{'home' | translate}}</h2>
    <p>noPageFound: {{'noPageFound' | translate}}</p>
    <p>changeLanguage.es: {{'changeLanguage.es' | translate}}</p>
    <p>changeLanguage.en: {{'changeLanguage.en' | translate}}</p>
    <p>home: {{'home' | translate}}</p>
    <p>showStrings: {{'showStrings' | translate}}</p>
</div>

<div>
    <h2>{{'aboutMe' | translate}}</h2>
    <p>aboutMe: {{'aboutMe' | translate}}</p>
    <p>aboutMe.err.entitle: {{'aboutMe.err.entitle' | translate}}</p>
    <p>aboutMe.err.enResume: {{'aboutMe.err.enResume' | translate}}</p>
    <p>aboutMe.err.startDate: {{'aboutMe.err.startDate' | translate}}</p>
    <p>aboutMe.err.endDate: {{'aboutMe.err.endDate' | translate}}</p>
    <p>aboutMe.err.enProject: {{'aboutMe.err.enProject' | translate}}</p>
    <p>aboutMe.err.enSkills: {{'aboutMe.err.enSkills' | translate}}</p>
</div>
