/* mat-toolbar */
mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.space {
    flex: 1 1 auto;
}

.lenguage-Buttons {
    display: flex;
}

.lenguage-Buttons mat-icon {
    margin-bottom: 9px;
}

.lenguage-Buttons button {
    margin-right: 5px;
}