<mat-toolbar class="matToolBar">
    <span>
        <a mat-button routerLink="">
            <mat-icon>home</mat-icon>
            {{'home' | translate}}
        </a>
    </span>

    <div>
        <a mat-button routerLink="{{[urlStrings.urlAboutMe]}}">
            <mat-icon>person</mat-icon>
            {{'aboutMe' | translate}}
        </a>
    </div>

    <div class="space"> </div>

    <div>
        <a mat-button routerLink="{{[urlStrings.urlShowTranslateStrings]}}">
            <mat-icon>menu_book</mat-icon>
            {{'showStrings' | translate}}
        </a>
    </div>

</mat-toolbar>
