<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <ul>
            <li>To do description</li>
            <li>go to contact page</li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="auth-container">
            <app-authorization-form-login [errors]="errors" title="{{'authorization.login' | translate}}"
                (usernameLoginPost)="loginUsername($event)"
                (emailLoginPost)="loginEmail($event)">
            </app-authorization-form-login>
            <div>
                <p class="container-Buttons">{{'authorization.haveAccount' | translate}}</p>
            </div>
            <a class="container-Buttons" mat-stroked-button
                routerLink="/{{urlStrings.urlRegister}}">{{"authorization.registerHere" | translate}}</a>
        </div>
    </mat-grid-tile>
</mat-grid-list>